@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?ef26vv');
  src:  url('fonts/iconfont.eot?ef26vv#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?ef26vv') format('truetype'),
    url('fonts/iconfont.woff?ef26vv') format('woff'),
    url('fonts/iconfont.svg?ef26vv#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-housesale .path1:before {
  content: "\e900";
  color: rgb(160, 212, 104);
}
.icon-housesale .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(140, 193, 83);
}
.icon-housesale .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(230, 233, 237);
}
.icon-housesale .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(245, 247, 250);
}
.icon-housesale .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(101, 109, 120);
}
.icon-housesale .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(230, 233, 237);
}
.icon-housesale .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(204, 209, 217);
}
.icon-home3:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-user:before {
  content: "\e971";
}
